{% extends 'base.html' %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <small>Postado em: {{ post.created_at|date:"d/m/Y" }}</small>

    <div>
        <strong>Gêneros:</strong>
        {% for category in post.categories.all %}
            <a href="{% url 'category_detail' category.pk %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
        {% empty %}
            Nenhum gênero.
        {% endfor %}
    </div>

    <hr>
    <div>
        {{ post.content|safe }}
    </div>

    {% endblock %}